.laptop,
.laptop * {
  box-sizing: border-box;
}

.laptop {
  --laptop-scale: 1;

  position: absolute;
  inset: 0;
  bottom:-10%;

  width: 100%;
  height: 100%;

  overflow: hidden;
position:fixed;

  z-index: 1;
}



.laptop__stage {
  position: absolute;
position: fix;
  left: 54%;
  bottom: -13%;

  width: 1440px;
  height: 1024px;

  overflow: hidden;

  transform:
    translateX(-50%)
    scale(var(--laptop-scale));

  transform-origin: center bottom;
}


.laptop__image {
  position: absolute;
  inset: 0;

  display: block;

  width: 1480px;
  height: 1024px;

  object-fit: fill;

  pointer-events: none;
  user-select: none;
  -webkit-user-drag: none;

  z-index: 0;
  position:fix;

}


.laptop__screen {
    position: absolute;
        top: 4%;
    left: 12.3%;
    width: 72.6%;
    height: 65.8%;
    overflow: hidden;
    container-type: inline-size;
    z-index: 2;
}
.laptop__screen_target {
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.60) 0%, rgba(255, 255, 255, 0.60) 100%), linear-gradient(180deg, #E4F4FF 0%, #B7D8FF 100%);
}
